* {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
}
.top_bar {
  height: 13vh;
  background-color: #bfb8ad;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 5vmin;
}
.rock {
  font-size: 5vmin;
  height: 25vmin;
  width: 25vmin;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#choice:hover {
  border: 1vmin black solid;
}
img {
  height: 24vmin;
  width: 24vmin;
  object-fit: cover;
  border-radius: 50%;
}
.paper {
  font-size: 5vmin;
  height: 25vmin;
  width: 25vmin;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.scissor {
  font-size: 5vmin;
  height: 25vmin;
  width: 25vmin;
  border-radius: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  display: flex;
  gap: 10vmin;
  align-items: center;
  justify-content: center;
  margin-top: 10vmin;
}
.you {
  display: flex;
  gap: 1.5vmin;
  font-size: 5vmin;
}
.scores {
  display: flex;
  gap: 15vmin;
  align-items: center;
  justify-content: center;
  margin-top: 10vmin;
}
.msg {
  background-color: #081b31;
  color: #fff;
  font-size: 2rem;
  display: inline;
  padding: 1rem;
  border-radius: 1rem;
}
.res-con {
  margin-top: 6vmin;
  text-align: center;
}
